 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<form method="get" action="/api/tanda-twitter">
    //TODO if you have time, see if you can make this dynamic by checking the tanda api first and than populating the page with the data you receive
<button type="submit" name='tweet'>Press this button to send the hours to employees!</button>
</form>

<h1> Tanda </h1>
<p> This link will allow the application to post onto twitter </p>
<!-- Include the link to the twitter and tanda oAuth page -->
<h1> Twitter </h1>
<p> This link will allow the application to get the employee data  </p>
