<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<form method="get" action="/employee/date-input">
    <input type="date" name="date">
    <button type="submit" class="btn btn-default" name="date-submit" >
        Select the date for the rosters you want
    </button>
</form>


<!--Post the data to the api tanda-twitter with the employee id and than for every employee who is sent over, make a tweet-->
<!-- Include the link to the twitter and tanda oAuth page -->
<!--Use for each in logic-->